#!/bin/bash

############################################################################################
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Kernel Source:
# https://opensource.samsung.com/main
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
############################################################################################

##############################################
# Toolchains
# Find more on https://kali.download/nethunter-images/toolchains/
##############################################

# Architecture (arm or arm64)
export ARCH=arm64

### Recommended arm compiler (don't comment out as it will be always needed)
# GCC 32bit (arm) source
CROSS_COMPILE_ARM32_SRC="https://kali.download/nethunter-images/toolchains/linaro-armhf-4.9.tar.xz"
CROSS_COMPILE_ARM32_TYPE="wget"
# And it's path
CCD32="${TD}/linaro-armhf-4.9"
export CROSS_COMPILE_ARM32=${CCD32}/bin/arm-linux-gnueabihf-

# Kernel local name
export LOCALVERSION=-nethunter-v01

# Speed up the build
CCACHE=true

DEBIAN_DEPEND="git-core gnupg flex bison build-essential zip curl zlib1g-dev libc6-dev-i386 x11proto-core-dev libx11-dev lib32z1-dev libgl1-mesa-dev libxml2-utils xsltproc unzip fontconfig clang axel xz-utils make ccache openssl libssl-dev bc"

# Some devices will have mismatch, to ignore errors uncomment the following line
MAKE_ARGS="CONFIG_NO_ERROR_ON_MISMATCH=y"

IMAGE_NAME=Image
